.myMenu{

	position: relative;
	margin-top: 50px;
	text-align: center;

}
a:link {
    text-decoration: none;

}
li{

    text-align: left;
	list-style: none;
}

.help_text{float: none; width: auto; height: auto;}
.help_text ul{float: none; width: auto; height: auto;}
.help_text_ol{float: left; list-style-type: decimal;width: auto; height: auto;font-size: 15px;line-height: 30px;margin-left:5px;}
.help_text_li{text-align: justify; float: left; list-style-type: lower-alpha;width: auto; height: auto;font-family: Trebuchet MS, Arial, sans-serif, Verdana; font-size:14px;margin-left:30px; line-height: 15px; margin-bottom: 10px;}
.help_text_normal{text-align: justify;float: left; list-style:none;width: auto; height: auto;font-family: Trebuchet MS, Arial, sans-serif, Verdana; font-size:11px;line-height: 15px;margin-left:30px;margin-bottom: 10px;}
.help_display_text{text-align: justify;float: left; width: auto; height: auto;font-family: Trebuchet MS, Arial, sans-serif, Verdana; font-size:11px;line-height: 15px; margin-left:30px;margin-bottom: 10px;}
.help_display_text_small{text-align: justify; float: none; list-style-type: decimal;width: auto; height: auto;font-family: Trebuchet MS, Arial, sans-serif, Verdana; font-size:11px;line-height: 15px;font-weight: normal;margin-left:30px;margin-bottom: 10px;}
.header_text{font-size:12px;	width:100%; min-height: 75px;	float:left; background:none repeat scroll 0 0 #e3e3e3;}
.header_text span{float: left; font-size:25px; font-weight:bold; color:#333;padding:20px;height: 40px; line-height: 40px;}

.left_box{height:auto; margin:2px auto; width:930px;}
.round_box{height:auto; width:99%; float:left; margin:5px;}
.round_top{height:auto; width:100%; float:left;  }
.round_left_top{height:7px; width:7px; float:left;}
.round_right_top{height:7px; width:7px; float:right;}
.round_center{height:auto; width:100%; float:left; }
#left_coloms { float: left;  height: auto;  width: 98%;  border: 1px solid #999999;   margin-right: 10px; margin-left: 15px; margin-bottom: 10px; margin-top: 10px; font-family: Trebuchet MS, Arial, sans-serif, Verdana; font-size:12px;}

.navbar{
	margin-right: 12%;
	margin-left: 12%;

}
#slider img{

	width: 100%;

}
.container>p{
margin-right: 5% !important;
margin-left: 5% !important;

}
 
 .container .col-lg-11{
    
 	margin-left: 4%;
 }
.navbar-fixed-top .row .col-lg-6 .search-button{
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 0 10px 10px 0;
	box-shadow: 2px 2px 3px #666;
	padding: 2px 7px;
	outline: 0;
	clear: both;


}
.navbar-fixed-top .header-link>li .login{
	border-right: 1px dotted green;
    list-style: none;
	padding-left: 1%;
	padding-right: 1%;
}
.navbar-fixed-top .header-link>li .signup{
    list-style: none;
	padding-left: 1%;
	padding-right: 1%;
}

.navbar-fixed-top .search .search-text{
	margin-top: 1%;
	width: 80%;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px 0 0 10px;
	box-shadow: 2px 2px 3px #666;
	padding: 4px 7px;
	outline: 0;
	clear: both;
	-webkit-appearance: none;
}
.navbar-fixed-top .container .search .search-text:focus{
	border-color: #339933;

}

.dropdown-menu >li: hover a{
	display: block;
}

ul li :hover ul{

	display: block;
}
/*------login page csss---*/

.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.input-group { margin-bottom:10px; }
.separator { border-right: 1px solid #dfdfe0; }
.facebook,.twitter { min-width:170px; }
.facebook { background-color:#354E84;color:#fff; }
.twitter { background-color:#00A5E3;color:#fff; }
.facebook:hover,.twitter:hover { color:#fff; }

/*--------------testing ----*/

